body {
  font-family: Arial;
  margin: 40px;
  background-color: #f4f4f4;
}

input, select, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
}